/* Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
}

#page-wrapper {
  height: 90vh;
  width: 90vw;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  margin-top: 2rem;
  padding: 0.5rem;
} 

/* for mobile devices */
@media (max-width: 767px) {
  #grid {
    grid-template-columns: 1fr;
  }
}

#grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}


#grid .working {
  color: white;
  border: .3rem solid white;
}

#grid .tall {
  grid-row: span 2;
}

#grid .wide {
  grid-column: span 2;
}

